/*Universal Selector */

*{
    padding: 2px;
}

/* Basic selector: class & ID */

.header-top{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Text & font */

.header-top-left{
    display: flex;
    width: 20%;
    position: relative;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

/* Child Selector */

.header-top-left>div{
    position: relative;
    margin-right: 54px;
    display: block;
    font-family: Poppins,sans-serif;
    font-weight: 400;
}
.header-top-left>.langue{
    box-sizing: border-box;
}
.header-top-left>.curency{
    box-sizing: border-box;
}
.header-top-left>.contact{
    box-sizing: content-box;
}

/* Attribute Selector */

[href~="/"]{
    color: yellow;
}

/* Pseudo-Class */

a:hover {
    color: #a749ff;
}
a:visited {
    color: green;
}

/* Pseudo-Element */

p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

/* Box model */

.header-bottom-left>div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

/* Color & Background */

.header-top-right{
    background-color: aquamarine;
    color: #000;
}
.header-top-right>p>span{
    color: #ff0000;
}