/* Reset */
* {
  margin: 0;
  padding: 0;
} 
 ol, ul {
   list-style: none;
 } 
 img {
  vertical-align: top;
  max-width: 100%;
  border: none;
} 
a {
  color: inherit;
  text-decoration: none;
} 
button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-size: 14px;
  color: #444;
  background-color: white;
  font-weight: 400;
} 

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
} 
.col-2 {
  width: 16,666666667%;
}
.col-3 {
  width: 25%;
} 
.col-4 {
  width: 33,333333333%;
} 
.col-6 {
  width: 50%;
} 

/* font */
html {
  font-family: 'Poppins',sans-serif;
}

/* Header */ 

.header-top {
  height: 80px;
  background-color: #dfdbd6;
} 
.header-logo {
  line-height: 80px;
} 
.header-logo img {
  width: 100px;
  vertical-align: middle;
} 
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-top{
  justify-content: space-between;
  height: auto;
}
.header-top-left{
 padding: 0 10px;
}
.header-top-left-item{
  position: relative;
  padding: 10px;
  border: none;
  background-color: #dfdbd6;
}
.header-top-left-item::after{
  box-sizing: border-box;
}
.header-top-right{
  align-self: center;
}
.header-top-right>p>span{
 color: red;
}
.header-bottom{
  justify-content: space-between;
  height: auto;
  background-color: #dfdbd6;
}
.icon{
    width: 50px;
}
.menu-title a{
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #242424;
}


/* main */

.large-img{
    width: 100%;
}

/* category */
.category{
  position: relative;
}
.category div{
  position: absolute;
}
.category-content{
    padding:10px;
}

/* deal-of-the-day */
.deal-of-the-day{
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
.deal-of-the-day h2 {
  font-size: 48px;
  margin: 0;
  color: #010101;
  text-align: center;
}
.deal-of-the-day li span{
  font-size: 48px;
  font-weight: 300;
  display: inline-block;
  min-width: 75px;
  margin: 0 32px;
  color: #555;
  text-align: center;
}
.deal-of-the-day li span p{
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  min-width: 75px;
  margin: 0 32px;
  color: #555;
}
.deal-of-the-day .shop-now{
  line-height: 1;
  z-index: 1;
  display: inline-block;
  padding: 16px 56px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: red;
  color: white;
} 

/* endow */
.endow{
  padding: 20px;
  background-image: url(https://flone.reactdemo.hasthemes.com/assets/img/bg/shape.png);
}
.endow .row{
  width:100%;
  justify-content: space-around;
}
.endow .endow-item{
  text-align: center!important;
  position: relative;
  width: 32%;
  padding: 30px 10px 24px;
}
.endow .endow-img{
  position: absolute;
}
.endow .free-shipping{
  background-color: rgb(204, 251, 233);
}
.endow .money-return{
  background-color: rgb(242, 251, 204);
}
.endow .member-discound{
  background-color: rgb(221, 251, 204);
}
.endow p {
  font-size: 16px;
  margin: 4px 0 0;
  text-transform: uppercase;
  color: #000;
}


.section-slideshow {
  position: relative;
}
.section-slideshow .slideshow-btn-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; 
} 
.section-slideshow .slideshow-btn-action .btn {
  font-size: 28px;
} 
.section-slideshow .slideshow-btn-action .btn:hover {
  color: white;
} 
.section-slideshow .slideshow-btn-action .btn-pre {
  position: absolute;
  left: 15px;
} 
.section-slideshow .slideshow-btn-action .btn-next {
  position: absolute;
  right: 15px;
} 
.slideshow-pagination {
  position: absolute;
  bottom: 15px;
  display: flex;
  left: 50%;
}
.slideshow-pagination li {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
} 
.section-product {
  margin-top: 40px;
}
.section-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #6bb039;
  padding-bottom: 10px;
} 
.product-list  {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.product-list .product-item {
  padding: 0 20px 15px;
}
.product-list .product-item .product-img img {
  border-radius: 8px;
}
.product-list .product-item .product-info {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
} 
.product-item .product-info .product-price {
  color: red;
} 
.btn-primary {
  background-color: #6bb039;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
  color: #dfdbd6;
  border-radius: 6px;
  display: block;
  margin-top: 5px;
}
.btn-primary:hover {
  color: #444;
  background-color: aquamarine;
} 
.section-banner-txt {
  margin-top: 60px;
  background-color: antiquewhite;
  text-align: center;
  padding: 40px 0;
}
.section-banner-txt h2 {
  color: #6bb039;
  text-transform: uppercase;
  padding-bottom: 5px;
} 
.section-partner {
  margin-top: 40px;
} 
.partner-list {
  display: flex;
  margin: 0 -10px;
} 
.partner-list .partner-item {
  width: 20%;
  padding: 0 10px;
} 
.partner-list .partner-item img {
  height: 150px;
  width: 100%;
  object-fit: cover;
} 
.page-footer {
  margin-top: 60px;
} 
.footer-top {
  height: 50px;
  background-color: black;
}
.footer-newsletter {
  line-height: 50px;
  position: relative; 
}
.footer-newsletter label {
  color: white;
  padding-right: 10px;
}
.footer-newsletter input {
  border: none;
  padding: 0 5px;
  height: 22px;
  border-radius: 6px;
}
.footer-newsletter input:focus-visible {
  border: none;
  outline: none;
} 
.footer-newsletter button {
  position: absolute;
  right: 10px;
  top: 18px;
  
} 
.footer-middle {
  margin-top: 20px;
} 
.footer-wrapper {
  display: flex;
} 
.footer-middle-col h3 {
  font-size: 16px;
  padding-bottom: 5px;
}
.link-list li {
  padding-top: 5px;
} 
.footer-bottom {
  background-color: #173346;
  color: white;
  padding: 15px 0;
  text-align: center;
}
.footer-subribe-form p{
    margin: 20px 0;
    letter-spacing: .3px;
    color: #5d5d5d;
    font-size: 16px;
    line-height: 24px;
}

.footer-subribe-form input{
    font-size: 15px;
    padding: 2px 10px 2px 0;
    color: #333;
    border: none;
    border-bottom: 2px solid #ebebeb;
    background: transparent;
    height: 45px;
}

.footer-subribe-form input:focus{
    outline: none;
}

.footer-subribe-form button{
    font-size: 14px;
    line-height: 1;
    width: auto;
    height: auto;
    margin: 13px 0 0;
    text-transform: uppercase;
    color: #313131;
    border: none;
    border-bottom: 2px solid #9b9b9c;
    background: none;
}